.detail{
    background-color:#ffffff;
    margin-bottom:70px;
    font-weight:300;
    padding:20px;
    border-radius:15px;
    color:#adaeb9;
    box-shadow:0 13px 27px -5px rgba(50, 50, 93, .25),0 8px 16px -8px rgba(0, 0, 0, .3),0 -12px 36px -8px rgba(0,0,0,.025);
}
.detail img{
    position: relative;
    max-width:300px;
    width:100%;
    box-shadow:0 13px 27px -5px rgba(50, 50, 93, .25),0 8px 16px -8px rgba(0, 0, 0, .3),0 -12px 36px -8px rgba(0,0,0,.025);
}
.detail .movie__title,.detail .movie__year{
    margin:0;
    font-weight:300;
}
.detail .movie__title{
    margin-bottom:5px;
    font-size:24px;
    color:#2c2c2c;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
}
.detail .movie__genres{
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    flex-wrap:wrap;
    margin:5px 0;
}
.detail .movie__genres .movie__genre,.movie__year{
    margin-right:10px;
    font-size:14px;
}
.detail .movie__summary{
    margin-top:1rem;
}
.detail{
    display:grid;
    justify-content:center;
    align-items:center;
    grid-template-columns:repeat(2, minmax(400px,1fr));
    padding:50px;
    width:70%;
    margin:180px auto;
    padding-top:70px;
    background-color:#efefef;
}

@media screen and (max-width:1090px) {
    .detail{
        grid-template-columns:1fr;
        width:90%;
        margin:50px auto;
    }
    .detail .movie__title{
        margin-top:1.5rem;
    }
    .detail img{
        max-width:240px;
    }
}