.container{
    height:100%;
    display:flex;
    flex-direction:column;
    padding:0 2rem;
}
.loader{
    width:100%;
    height:40vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:300;
    color:#ffffff;
    font-size:24px;
}
.movies{
    display:flex;
    flex-wrap:wrap;
    max-width:1400px;
    width:100%;
    gap:3rem;
    justify-content:space-between;
    margin:10rem auto;
}
@media screen and (max-width:1090px) {
    .container{
        padding:0 2rem;
    }
    .movies{
        max-width:1090px;
        width:100%;
        gap:2rem;
        justify-content:space-around;
    }
}